{
  "http_port": {{ http_port }},
  "redis_hostname": "{{ redis_hostname }}",
  "database_host": "{{ database_host }}",
  "database_port": "{{ database_port }}",
  "database_name": "{{ database_name }}",
  "username": "{{ username }}",
  "encrypted_password": "{{ encrypted_password }}"
}
  